microservice/.venv/
microservice/data/
microservice/application/__pycache__/
.DS_Store
.env
microservice/neo4j.txt
.idea/
app/HELP.md
app/target/
app/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
data/
app/.gitignore
*.iws
*.iml
*.ipr
.venv